extends layout

block content

  div#category-sidebar.col-lg-3

  
  div#landing-videos.col-lg-8
    each video, i in videos
      section
        a(href="/video/#{video._id}")     
          video(width="200px")
            source(src="#{video.url}")
        div.info-overlay      
          span #{video.title}
          
  
