doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css', integrity='sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi', crossorigin='anonymous')
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
    link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar
      i.fa.fa-align-justify
      
      a.navbar-brand(href='/')
        img.yt-logo(src="https://www.youtube.com/yt/brand/media/image/YouTube-logo-full_color.png")
      
      form(method="post" action="search")
        input(type="text" name="search" placeholder="Search")
        button(type="submit")
          i.fa.fa-search
          
      ul.yt-user
        li.register    
          if !user
            a(href="/users/register") Register 
        li.login
          if !user
            a(href="/users/login") Sign in 
            
      if user
        ul.yt-user
          li.upload    
            a(href="/videos/upload") Upload 
          li.logout
            a(href="/users/logout") Logout    
        if user
          a(href="/users/user").user
            img(src="../#{user.profileImage}")
          
            
            
    div.flash
      != messages()
    block content
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js', integrity='sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js', integrity='sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js', integrity='sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK', crossorigin='anonymous')
    script(type='text/javascript', src='/js/index.js')
    script(type='text/javascript', src='//api.filestackapi.com/filestack.js')
