extends layout

block content
  
  form(method="post" action="/users/login").form-container.mt-2
    h1.text-xs-center.my-2 Login
    .form-group
      label Username
      input(type="text" placeholder="Enter username" name="username" class="form-control" autofocus)
    .form-group
      label Password
      input(type="password" placeholder="Enter password" name="password" class="form-control" autofocus)
    .form-group
      button(type="submit").btn.btn-primary Login      
    
    
