extends ../layout

block content

  form#uploadVideo.form-container.mt-3
    h1.text-xs-center.my-2 Upload Video
    .form-group
      label Title
      input.form-control(name="title" type="text" id="videoTitle" required)
    .form-group
      label Description
      textarea.form-control(id="videoDesc" required)
    .form-group
      label Upload video
      input(type='filepicker', data-fp-apikey='#{key}', onchange='getUploadData(event.fpfile)')
    .form-group  
      label Category
      select.form-control
        each category, i in categories
          option(value="#{category.name}") #{category.name}
    button.btn.btn-block.btn-primary(type="submit" id="upload") Upload
