* {
  box-sizing: border-box;
}

body {
  background: #F1F1F1;
  padding-top: 65px;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a, a:hover, a:focus {
  text-decoration: none;
  border: none;
}

.form-container {
  background: white;
  padding: 2em;
  border-radius: 4px;
  width: 50%;
  margin: 0 auto;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}




/*MAIN NAVBAR*/
.navbar {
  top: 0;
  font-family: "Roboto" sans-serif;
  background: white;
  height: 65px;
  position: fixed;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 3em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/*BURGER LOGO*/
/*.navbar i:first-child {
  font-size: 1.3em;
  opacity: .75;
}*/

.navbar-brand {
  margin: 0;
  padding: .2em;
  width: 180px;
  text-align: center;
  font-weight: 500;
  font-size: 2em;
  background: #df2d28;
  color: white;
  border: 3px solid #df2d28;
  opacity: 1;
  transition: .2s;
}

.navbar-brand:focus {
  color: white;
}

.navbar-brand:hover {
  border: 3px solid #df2d28;
  opacity: 0.85;
  color: white;
  text-decoration: none;
}

/*NAVIGATION*/
.navbar ul {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
}

.navbar ul li {
  display: inline-block;
}

/*Primary Search Bar*/
.navbar form {
  width: 50%;
  position: relative;
}

.navbar input[type="text"]:focus {
  box-shadow: inset 0 0 7px #0275D8;
  border: 1.5px solid #0275D8;
  outline: none;
}

.navbar input[type="text"] {
  font-size: 20px;
  font-weight: 550;
  border: .5px solid rgba(0, 0, 0, 0.2);
  padding: 3px;
  padding-left: 10px;
  width: 65%;
}

.navbar button[type="submit"] {
  position: absolute;
  background: white;
  width: 75px;
  padding: 6px;
  border: .5px solid rgba(0, 0, 0, 0.2);
  transition: .25s all;
  cursor: pointer;
}

.navbar button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.navbar button .fa-search {
  font-size: 1.1em;
}

/*USER NAV*/

.yt-user li {
  margin-left: 1em;
  border-radius: 3.5px;
  font-size: .95em;
  font-weight: 600;
}

.yt-user li a {
  padding: 7px 12px;
  display: block;
}

.yt-user .login, .yt-user .logout {
  background: #3B5998;
}

.yt-user .login a, .yt-user .logout a {
  color: white;
}

.yt-user .register, .yt-user .upload {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.yt-user .register a, .yt-user .upload a {
  color: rgba(0, 0, 0, 0.75);
}
/*User Image*/
.user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.15);
  transition: .3s all;
}

.user img:hover {
  border: 2px solid #df2d28;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}


/********LANDING PAGE********/
#category-sidebar {
  background: #fff;
  height: 700px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
}

#category-sidebar a {
  display: block;
  padding: 7px 35px;
  color: #444;
  position: relative;
}

#category-sidebar a i {
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 1.3em;
  font-weight: 700;
  display: none;
  transform: translateX(20px);
}

#category-sidebar a:hover > i {
  display: inline-block;
}

#category-sidebar a:hover, .active {
  color: #fff !important;
  background: #444;
  font-weight: 500;
}

.active i {
  display: inline-block !important;
}


#category-header {
 background: #df2d28;
 color: white;
 text-align: center;
 padding: .5em 0;
 font-size: 2.3em;
 margin: 0;
}

#landing-videos {
  background: #fff;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0 5px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

#landing-videos section {
  margin: 0;
  float: left;
  width: 25%;
  background: #000;
  position: relative;
  transition: .4s;
}

#landing-videos section:hover {
  transform: scale(1.05);
}

#landing-videos section video {
  width: 100%;
}

#landing-videos section .info-overlay {
  transition: .5s all;
  position: absolute;
  width: 100%;
  height: 20px;
  background: black;
  top: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}






/*******MAIN VIDEO PAGE**********/
.primary-video-col #featured {
  display: inline-block;
  text-align: center;
  width: 100%;
}

#videoBar, #videoBar2, #commentsBar, #featured {
  background: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  padding: .75em 1.25em;
}

#videoBar i {
  font-size: 1.3em;
  margin: 0 0.5em;
}

#videoBar .username {
  font-size: 1.2em;
  margin-left: .5em;
}

/*Video Comments Bar*/
#commentsBar .form-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  padding-left: 3%;
}

#commentsBar img {
  border-radius: 4px;
  height: 70px;
  width: 70px;
}

#commentsBar textarea {
  font-size: 1.1em;
  border: .75px solid rgba(0, 0, 0, 0.2);
  margin-left: 2%;
  width: 80%;
  height: 75px;
  padding: .75em;
}

.comment-container {
  /*background: red;*/
  display: flex;
}

.comment-container img {
  display: inline-block;
}


.secondary-video-col {
  background: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.secondary-video-col .publicvideo-container {
  margin: 1em;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.secondary-video-col .publicvideo-container video {
  width: 225px;
}

.secondary-video-col .publicvideo-container h4 {
  align-self: flex-start;
  display: block;
}



ul.success li {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  background: #5CB860;
  border-color: #d6e9c6;
  list-style: none;
  opacity: .75;
}

ul.info li {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  background: #6ABCC2;
  border-color: #d6e9c6;
  list-style: none;
  opacity: .75;
}

ul.error li {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  background: #D22827;
  border-color: #d6e9c6;
  list-style: none;
  opacity: .75;
}
